<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ block "title" . }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  <script src="{{ "/js/main.js" | relURL }}"></script>
</body>
</html>

