<header class="site-header">
  <div class="container">
    <div class="logo"><a href="/">{{ .Site.Title }}</a></div>
    <nav class="main-nav">
      <a href="/#about"><i class="fas fa-user"></i> 关于</a>
      <a href="/#chapters"><i class="fas fa-book-open"></i> 书籍</a>
      <a href="/books/"><i class="fas fa-book"></i> 全部书籍</a>
      <a href="/#contact"><i class="fas fa-envelope"></i> 联系</a>
    </nav>
  </div>
  <!-- Netlify Identity Widget -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</header>

